body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.square{
    height: 200px;
    width: 200px;
    background-color: teal;
    margin: 10px;
}

.rows {
    margin: 0;
    padding: 0;
    display: flex;
    height: 220px;
    width: 660px;
    background-color: thistle;
}

.textContainer {
    margin: 0;
    padding: 0;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150;
}
.results{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 660px;
    height: 200px;
    background-color: tomato;
}
button {
    height: 50px;
    width: 400px;
}

#resultsTextBox{
    display: flex;
    height: 100px;
    width: 660px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}