body {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top: 0%;
    align-items: center;
    background-color: rgb(134, 134, 134);
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Quicksand', sans-serif;
    
}
#title{
    margin-bottom: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90;
    height: 120;
    width: 500;
    color: white;
    background-color: rgb(83, 83, 83);
    border-radius: 10px;

}

.square{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 255, 255);
    margin: 0px;
    border-radius: 5px;
}

.rows {
    margin: 0;
    padding: 0;
    
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 110px;
    width: 330px;
    
    background-color: rgb(173, 139, 107);
}

.textContainer {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100;
    color:rgb(133, 133, 133);
}
.results{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    flex-direction: column;
    width: 700px;
    height: 130px;
    /* background-color: rgb(73, 60, 60); */
    
}
button {
    height: 50px;
    width: 200px;
    font-size: 25px;
    border: solid;
    border-width: 4px;
    border-radius: 10px;
    border-color:  rgb(211, 211, 211);
    background-color: rgb(255, 255, 255);
    color:rgb(133, 133, 133);

}
button:hover{
    cursor: pointer;
    background-color: rgb(228, 228, 228);
    border-color:  rgb(161, 161, 161);


}
#resultsTextBox{
    display: flex;
    height: 60px;
    width: 1000px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    
}